$primary-blue: #008AE6;
$white: #ffffff;
$light-gray: #F7F7F7;
$dark-gray: #555555;

$main-primary: $primary-blue;
$light-background: $white;
$med-background: $light-gray;
$dark-background: $dark-gray;
